.imageForIntro {
  margin: 1%;
}
.homePageTitle {
  padding-top: 4%;
  font-size: 1000% !important;
  text-align: center !important;
}

.musclesInvoled {
  font-size: 200% !important;
  text-align: center !important;
  white-space: nowrap;
}

.firstOnMusclePage {
  margin-left: 10%;
}

.sponseredBy {
  text-align: center;
  padding-bottom: 3%;
}

.homePageBackground {
  /* position: absolute; */
  background-image: url("https://petertdyer.files.wordpress.com/2013/03/deltoid_muscle_animation3.gif");
  background-size: 100%;
  position: relative;
  /* padding-bottom: 47.4%;
    padding-top: 1%; */
}
.layerIntro {
  background-color: rgb(51, 51, 51, 0.2);
  width: 100%;
  height: 100%;
}

.buttonToStartWebsite {
  padding-top: 2%;
  padding-bottom: 3.6%;
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.colorILike {
  color: rgb(51, 51, 51);
}
.introPara {
  text-align: left;
  width: 75%;
  background-color: rgb(51, 51, 51, 0.5);
  border-color: rgb(51, 51, 51);
  border-style: solid !important;
  border-width: medium !important;
  border-radius: 10px;
}
.containerForIntro {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.MusclePage {
  background-image: url("../KinImages/ann.jpg");
  background-size: 100%;
  position: relative;
}

.muscleTitle {
  font-size: 500% !important;
  text-align: center !important;
}

.muscleTitleContainer {
  padding-top: 2%;
}

.muslceFirstPara {
  padding: 1%;
  text-align: center;
  width: 95%;
  margin: auto;
}

.layerMuscle {
  background-color: rgb(51, 51, 51, 0.5);
  width: 100%;
  height: 100%;
}

.firstImageOnMuscleContainer {
  display: flex;
  justify-content: center;
}

.secondImageOnMuscle {
  align-content: center;
  margin-top: 1.5%;
  margin-right: 40%;
}

.border {
  border-color: rgb(51, 51, 51);
  border-style: solid !important;
  border-width: 10px;
}

.Glen {
  font-size: 400% !important;
  text-align: center !important;
}

.GlenContainer {
  margin: 1%;
}

.muslceSecondPara {
  text-align: center;
  width: 97%;
  margin: auto;
}

.buttonMuscle {
  padding-top: 1%;
  padding-bottom: 3.6%;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.InjuryFullPage {
  background-color: white;
  background-size: 100%;
  position: relative;
  width: 100%;
  height: 100%;
}

.layerInjury {
  width: 100%;
  height: 100%;
}

.injuryContainer {
  display: flex;
  justify-content: center;
}

.Injury {
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  margin-top: 0.5%;
  width: 45%;
  font-size: 80%;
}

.InjuryTreatment {
  margin: 3%;
  font-size: 130%;
}
.InjuryName {
  font-weight: bolder !important;
  /* text-decoration: underline; */
  margin-bottom: 3%;
  font-size: 130%;
}

.InjuryTitles {
  font-size: 130%;
}

.row1Move {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.boxForMove {
  border: black solid medium;
  background: rgb(51, 51, 51, 0.5);
  width: 33.33%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.MovementPage {
  background-image: url("../KinImages/prism.png");
}

.InjuryPageTitle {
  font-size: 200% !important;
  text-align: center !important;
}

.InjuryPageTitleContainer {
  padding-top: 0.5%;
}

.buttonForInjury {
  padding-bottom: 3.6%;
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.tweetContainer {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.tweet {
  margin: 5%;
  border: black solid thick;
}

.twoButtonContainer {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.twoButtonButtonR {
  padding-top: 1%;
  padding-bottom: 3.6%;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.twoButtonButtonL {
  padding-top: 1%;
  padding-bottom: 3.6%;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.TweetPageTitle {
  margin-top: 10%;
  font-size: 300% !important;
  text-align: center !important;
}

.buttonForTweet {
  padding-bottom: 3.6%;
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}
